body {
    margin: 0;
}

main {
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 11pt;
}

/*CABECERA*/
header {
    order: -100;
    position: sticky;
    top: 0;
    max-height: 17vh;
    background-color: #ffffff;
    border-bottom: 5px solid #0080ff;
    z-index: 100;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    margin-top: 10px;
}

#menu {
    visibility: hidden;
}

header nav label {
    visibility: hidden;
}

header ul li {
    list-style: none;
}

header nav li {
    margin-top: 40px;
    display: inline-block;
    flex-direction: column;
    font-size: 23px;
    padding: 15px;
}

header li {
    padding: 5px;
    transition: 0.5s;
}

header li:hover {
    background-color: #FF0000;
    color: white;
}

a {
    text-decoration: none;
    color: black;
}

header li:hover a {
    background-color: #FF0000;
    color: white;
}
.derecha {
    padding: 10px;
    min-width: 50vw;
    margin-right: 170px;
    text-decoration: none;
}

/*BUSCADOR*/
.box {
    /*    margin-top: 100px;
    margin-left: 200px;*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input {
    padding: 10px;
    width: 70px;
    height: 70px;
    background: none;
    border: 4px solid #FF0000;
    border-radius: 50px;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 23px;
    color: white;
    outline: none;
    transition: 0.5s;
}

.box:hover input {
    width: 350px;
    background: #ffffff;
    color: #FF0000;
    border-radius: 10px;
}

i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(-50%, -50%);
    font-size: 26px;
    color: #0080ff;
    transition: 0.2s;
}

.box:hover i {
    opacity: 0;
}

/*FIN CABECERA*/

article {
    order: 2;
    min-height: 86vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: -21px;

}

/*ASIDE*/
aside {
    order: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-size: 22pt;
    font-weight: 600;
}

aside img {
    filter: blur(.8px) grayscale();
    transition: 1.4s;
    margin: 20px;
}

aside img:hover {
    filter: none;
    transform: scale(1.1);
}
.logo{
    height: 130px;
    width: 130px;
}
/*FIN ASIDE*/
div.tronco {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

div.horaDestino {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100px;
}

.horaDestino p, .tiempo p {
    margin: 0;
}

h3 {
    color: black;
}

section.mejorOferta {
    border: 3px solid #FF0000;
    margin: 3%;
    padding: 2%;
}

section.masBarato {
    border: 3px solid #FF0000;
    padding: 2%;
    margin: 3%;
}

section:not(section.mejorOferta):not(section.masBarato) {
    border: 1px solid rgb(141, 141, 141);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 3%;
    padding: 2%;
}

.vuelo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

div.imagenCompañia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 10px;
}

.tiempo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tiempo>img {
    margin: 0px;
}

.hora {
    font-weight: bold;
}

img {
    margin: 0;
}

.horizontal {
    border: 1px solid rgb(182, 182, 182);
    width: 22vw;
}

.vertical {
    border: 1px solid rgb(182, 182, 182);
    height: 30vh;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .text {
    visibility: hidden;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    opacity: 0;
    transition: opacity 4s;
    z-index: 1;
}

.tooltip:hover .text {
    visibility: visible;
    opacity: 1;
}

fieldset {
    border-color: lightgreen;
    border: 5px solid lightgreen;
    padding: 3px;
}

.secciones {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.precio {
    margin-left: 70px;
    font-size: 16pt;
}

.imagenesEquipaje {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-left: 100px;
}

.boton {
    background-color: #f8fcff;
    border: 2px solid #0080ff;
    color: #0080ff;
    width: 10vw;
    height: 4vh;
    margin-left: 20px;
    font-family: Nunito, Arial;
    font-weight: bolder;
    font-size: 13pt;
}

.boton:hover {
    background-color: #0080ff;
    border: 2px solid #0080ff;
    color: white;

}

.boton.especial:hover {
    background-color: #FF0000;
    border: 2px solid #FF0000;
    color: white;

}

/**/
section:hover {
    border: 3px solid #0080ff;
}

section:not(section.mejorOferta):not(section.masBarato):hover {
    border: 3px solid #3005a8;
}
/*FOOTER*/

iframe
{
    padding-left: 180px;
}

footer
{
    border-top: 5px solid #0080ff;
    padding: 20px;
    background-color: #444444;
    color: white;
    
}
footer>div {
    display: flex;
    flex-direction: row;
}

.pie
{
    float: left;
    text-align: left;
    border-left: 1px solid #ffffff3d;
    border-right: 1px solid #ffffff3d;
    padding: 5px;
}

.pie>div
{
    padding: 15px;
}
.pie>div>span
{
    padding: 15px;
}

.pie>h3
{

    align-self: center;
}
/**/

@media only screen and (max-width: 420px) {
    body{
        margin: 0;
    }
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100vw;
        min-height: 100vh;
        font-size: 10pt;
    }
    .logo{
        height: 100px;
        width: 100px;
    }
    div.tronco {        
        margin: 0px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .boton {
        width: 30vw;
        height: 6vh;
        margin-left: 8%;
    }
    aside img{
        height: 225px;
        width: 325px;
        filter: none;
        margin-left: 0%;
    }
    header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100vw;
        margin-top: 0;
        position: inherit;
        min-height: 30vh;
    }
    .secciones{
        display: flex;
        flex-direction: column;

    }
    .vertical{
        height: 0vh;
        width: 70%;
    }
    .horizontal{
        width: 50%;
    }
    .detallesVuelo,.vuelos,.vuelo{
        margin: 0;
        padding: 0;
    }
    section {
        padding: 2%;
        margin-left: 15%;
        width: fit-content;
    }
    .tiempo img{
        width: 80;
        height: 20px;
    }
    .derecha{
        margin: 0;
        max-width: 100vw;
    }
    nav{
        max-width: 100vw;
    }
    ul.nav-items{
        display: none;
    }
    header nav ul{
        display: flex;
        max-width: 70%;
        overflow: scroll;
        margin: 0;
        padding: 0;
    }
    header nav{
        margin: 0;
        padding: 0;
    }
    header nav li{
        font-size: 13pt;
        margin: 0;
        padding: 2px 20px;
    }
    a {
        text-decoration: none;
        color: black;
    }

    header li:hover a {
        background-color: #FF0000;
        color: white;
    }
    .box {
        margin: 0;
        display: none;
    }
    div.imagenCompañia img{
        width: 25px;
        height: 25px;
    }
    div.imagenCompañia, .horaDestino, .tiempo, .info{
        margin: 0;
    }
    footer {
        background-color: #FF0000;
        height: 7vh;
        min-width: 100vw;
    }
    footer>div{
        display: none;
    }
    footer h1{
        font-size: 11pt;
        text-align: center;
    }
}
