main{
    min-height: 100vh;
    max-width: 100vw;
    /*background-size: cover;*/
}
.card-header
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-header img
{
    width: 20vw;
    align-self: center;
    justify-self: center;
}
.no-filter
{
    filter: none;
}
.color-mode-img{
    width: 1em;
    height: 1em;
}
.filtro
{
    filter: invert();
}/*
@keyframes filtro {
    50%{
        filter: invert();
    }
    100%{
        filter: none;
    }
}*/
.ataca
{
    animation: atacar 2s;
}
@keyframes atacar {
    25%{
        transform: rotate(-20deg);
    }
    30%{
        transform: scale(2);
    }
    100%{
        transform: scale(1);
    }
}
.defenderse
{
    animation: defensa 2s;
}
@keyframes defenderse {
    50%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

.card-body-title
{
    text-align: center;
}
.stats
{
    display: flex;
    justify-content: space-around;
}
.buttons
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button.btn {
    background-color: #5dd33f;
    border-radius: 100%;
}